<div class="row">
  
  <div class="col-md-3 text-center">
    <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
 </div>

  <div class="col-md-9">
    <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
    <h3><span class="job-title-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %></h3>
    
    <div class="well profile-description">
      <h4>Description:</h4> 
    <p><%= @user.profile.description %></p>
    </div>
    
    
    <% if current_user.plan_id == 2 %>
     <div class="well contact-info">
       <h4>Information:</h4>
        <p> <%= @user.profile.phone_number %> </p>
        <p><%= @user.profile.contact_email %> </p>
      </div>
    <% end %>
  </div>
  
</div>
